.post-item{
    border-radius: 10px;
    box-shadow: 0 0 5px;
    overflow: hidden;
    margin-top: 20px;
}

.input-comment{
    width: 100%;
}

.question{
    box-shadow: 0 0 5px;
    padding: 10px;
    min-width: 80%;
    margin-top: 50px;
    text-align: left;
    margin: 10px;
    border-radius: 10px;
}

.input{
    margin-right: 10px;
    margin-left: 10px;
    display: block;
}

.send{
    margin-bottom: 10px;
    text-align: right;
    margin-right: 10px;
}

/*.spinner-item{*/
/*    height: 50vh;*/
/*    width: 50vh;*/
/*    margin-left: 200px;*/
/*}*/
.spinner-s{
    margin-top: 30vh;
    height: 100px;
    width: 100px;
}

.input-ans{
    width: 100%;
}